
# Python cache files
**/__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# MLflow
# mlruns/

# Models
mlruns/**/artifacts/models/*

# Visual Studio
.vs/

# fastText
*.vec

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


