aiosignal==1.3.1
alembic==1.10.2
arrow==1.2.3
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs==23.1.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.1
codecarbon==2.1.4
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm @ file:///C:/b/abs_1419earm7u/croot/comm_1671231131638/work
contourpy==1.0.7
cycler==0.11.0
databricks-cli==0.17.6
debugpy @ file:///C:/ci_310/debugpy_1642079916595/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
distlib==0.3.6
docker==6.0.1
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema==2.17.1
filelock==3.9.0
Flask==2.2.3
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
funcy==2.0
fuzzywuzzy==0.18.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
grpcio==1.51.3
huggingface-hub==0.14.1
idna==3.4
importlib-metadata==6.1.0
ipykernel @ file:///C:/b/abs_b4f07tbsyd/croot/ipykernel_1672767104060/work
ipyplot==1.1.1
ipython @ file:///C:/b/abs_d4_i9p0_36/croot/ipython_1674681439495/work
itsdangerous==2.1.2
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client @ file:///C:/b/abs_b9pns5mx5p/croot/jupyter_client_1671703062216/work
jupyter_core @ file:///C:/b/abs_84df679bho/croot/jupyter_core_1672332237650/work
kaleido==0.1.0.post1
kiwisolver==1.4.4
lbl2vec==1.0.2
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mlflow==2.2.2
MouseInfo==0.1.3
mpmath==1.2.1
msgpack==1.0.5
nbformat==5.9.0
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
networkx==3.0
nltk==3.8.1
numba==0.56.4
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==23.0
pandas==2.0.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
plotly==5.15.0
prompt-toolkit @ file:///C:/b/abs_6coz5_9f2s/croot/prompt-toolkit_1672387908312/work
protobuf==4.22.1
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyarrow==11.0.0
PyAutoGUI==0.9.53
pybind11==2.10.4
PyGetWindow==0.0.9
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT==2.6.0
pyLDAvis==3.4.1
PyMsgBox==1.0.9
pynvml==11.5.0
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
pytesseract==0.3.10
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytweening==1.0.4
pytz==2022.7.1
pywin32==306
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
querystring-parser==1.2.4
ray==2.4.0
regex==2023.3.23
requests==2.28.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
shap==0.41.0
shortuuid==1.0.11
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
SQLAlchemy==2.0.8
sqlparse==0.4.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy==1.11.1
syntok==1.4.4
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchdrift==0.1.0.post1
torchvision==0.15.1+cu118
tornado @ file:///C:/ci/tornado_1662476985533/work
tqdm==4.65.0
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
transformers==4.28.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
virtualenv==20.21.0
waitress==2.1.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websocket-client==1.5.1
Werkzeug==2.2.3
wincertstore==0.2
zipp==3.15.0
